# flyctl launch added from .gitignore
**/goorm.manifest
**/npm-debug.log*

**/HELP.md
**/.gradle
**/build
!**/gradle/wrapper/gradle-wrapper.jar
!**/**/src/main/**/build
!**/**/src/test/**/build

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin
!**/**/src/main/**/bin
!**/**/src/test/**/bin

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out
!**/**/src/main/**/out
!**/**/src/test/**/out

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle

### VS Code ###
**/.vscode

# Local database volumn
**/db

**/application.yml
**/application-oauth.yml
**/node_modules

# flyctl launch added from bin/main/.gitignore
bin/main/**/*.yml
bin/main/**/application.yml

# flyctl launch added from src/main/frontend/react/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/main/frontend/react/node_modules
src/main/frontend/react/.pnp
src/main/frontend/react/**/.pnp.js

# testing
src/main/frontend/react/coverage

# production
src/main/frontend/react/build

# misc
src/main/frontend/react/**/.DS_Store
src/main/frontend/react/**/.env.local
src/main/frontend/react/**/.env.development.local
src/main/frontend/react/**/.env.test.local
src/main/frontend/react/**/.env.production.local

src/main/frontend/react/**/npm-debug.log*
src/main/frontend/react/**/yarn-debug.log*
src/main/frontend/react/**/yarn-error.log*

# code
src/main/frontend/react/**/.history

src/main/frontend/react/**/.env*
src/main/frontend/react/**/application.yml

# flyctl launch added from src/main/resources/.gitignore
src/main/resources/**/*.yml
src/main/resources/**/application.yml
fly.toml
